<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= link_to 'Accept', accept_event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "CRAW", craw_events_path %>

<br>
<%= link_to "DESTROY ALL", destroy_all_events_path %>


